@tailwind base;
@tailwind components;
@tailwind utilities;

* { direction: rtl; box-sizing: border-box; }
body { font-family: Arial, sans-serif; margin: 0; background: #f5f5f5; }

table td {
  user-select: text;
  -webkit-user-select: text;
}
